body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1vw;
}

.box,
.box-nesting{
  padding: 15px;
  background-color: #006cfa;
  color: white;
  text-align: center;
  border: 1px solid white;
}

.box-nesting{
  background-color: #00e165;
  border: 1px solid #006cfa;

}