/* sm */
@media all and (min-width: 576px){
  .container{
    width: 540px;
  }

  .col-sm-1{
    flex-basis: calc((100% / 24) * 1);
    max-width: calc((100% / 24) * 1);
  }
  .col-sm-2{
    flex-basis: calc((100% / 24) * 2);
    max-width: calc((100% / 24) * 2);
  }
  .col-sm-3{
    flex-basis: calc((100% / 24) * 3);
    max-width: calc((100% / 24) * 3);
  }
  .col-sm-4{
    flex-basis: calc((100% / 24) * 4);
    max-width: calc((100% / 24) * 4);
  }
  .col-sm-5{
    flex-basis: calc((100% / 24) * 5);
    max-width: calc((100% / 24) * 5);
  }
  .col-sm-6{
    flex-basis: calc((100% / 24) * 6);
    max-width: calc((100% / 24) * 6);
  }
  .col-sm-7{
    flex-basis: calc((100% / 24) * 7);
    max-width: calc((100% / 24) * 7);
  }
  .col-sm-8{
    flex-basis: calc((100% / 24) * 8);
    max-width: calc((100% / 24) * 8);
  }
  .col-sm-9{
    flex-basis: calc((100% / 24) * 9);
    max-width: calc((100% / 24) * 9);
  }
  .col-sm-10{
    flex-basis: calc((100% / 24) * 10);
    max-width: calc((100% / 24) * 10);
  }
  .col-sm-11{
    flex-basis: calc((100% / 24) * 11);
    max-width: calc((100% / 24) * 11);
  }
  .col-sm-12{
    flex-basis: calc((100% / 24) * 12);
    max-width: calc((100% / 24) * 12);
  }

  .col-sm-13{
    flex-basis: calc((100% / 24) * 13);
    max-width: calc((100% / 24) * 13);
  }
  .col-sm-14{
    flex-basis: calc((100% / 24) * 14);
    max-width: calc((100% / 24) * 14);
  }
  .col-sm-15{
    flex-basis: calc((100% / 24) * 15);
    max-width: calc((100% / 24) * 15);
  }
  .col-sm-16{
    flex-basis: calc((100% / 24) * 16);
    max-width: calc((100% / 24) * 16);
  }
  .col-sm-17{
    flex-basis: calc((100% / 24) * 17);
    max-width: calc((100% / 24) * 17);
  }
  .col-sm-18{
    flex-basis: calc((100% / 24) * 18);
    max-width: calc((100% / 24) * 18);
  }
  .col-sm-19{
    flex-basis: calc((100% / 24) * 19);
    max-width: calc((100% / 24) * 19);
  }
  .col-sm-20{
    flex-basis: calc((100% / 24) * 20);
    max-width: calc((100% / 24) * 20);
  }
  .col-sm-21{
    flex-basis: calc((100% / 24) * 21);
    max-width: calc((100% / 24) * 21);
  }
  .col-sm-22{
    flex-basis: calc((100% / 24) * 22);
    max-width: calc((100% / 24) * 22);
  }
  .col-sm-23{
    flex-basis: calc((100% / 24) * 23);
    max-width: calc((100% / 24) * 23);
  }
  .col-sm-24{
    flex-basis: calc((100% / 24) * 24);
    max-width: calc((100% / 24) * 24);
  }

  .col-sm-offset-1{
    margin-left: calc((100% / 24) * 1);
  }
  .col-sm-offset-2{
    margin-left: calc((100% / 24) * 2);
  }
  .col-sm-offset-3{
    margin-left: calc((100% / 24) * 3);
  }
  .col-sm-offset-4{
    margin-left: calc((100% / 24) * 4);
  }
  .col-sm-offset-5{
    margin-left: calc((100% / 24) * 5);
  }
  .col-sm-offset-6{
    margin-left: calc((100% / 24) * 6);
  }
  .col-sm-offset-7{
    margin-left: calc((100% / 24) * 7);
  }
  .col-sm-offset-8{
    margin-left: calc((100% / 24) * 8);
  }
  .col-sm-offset-9{
    margin-left: calc((100% / 24) * 9);
  }
  .col-sm-offset-10{
    margin-left: calc((100% / 24) * 10);
  }
  .col-sm-offset-11{
    margin-left: calc((100% / 24) * 11);
  }
  .col-sm-offset-12{
    margin-left: calc((100% / 24) * 12);
  }
  .col-sm-offset-13{
    margin-left: calc((100% / 24) * 13);
  }
  .col-sm-offset-14{
    margin-left: calc((100% / 24) * 14);
  }
  .col-sm-offset-15{
    margin-left: calc((100% / 24) * 15);
  }
  .col-sm-offset-16{
    margin-left: calc((100% / 24) * 16);
  }
  .col-sm-offset-17{
    margin-left: calc((100% / 24) * 17);
  }
  .col-sm-offset-18{
    margin-left: calc((100% / 24) * 18);
  }
  .col-sm-offset-19{
    margin-left: calc((100% / 24) * 19);
  }
  .col-sm-offset-20{
    margin-left: calc((100% / 24) * 20);
  }
  .col-sm-offset-21{
    margin-left: calc((100% / 24) * 21);
  }
  .col-sm-offset-22{
    margin-left: calc((100% / 24) * 22);
  }
  .col-sm-offset-23{
    margin-left: calc((100% / 24) * 23);
  }
  .col-sm-offset-24{
    margin-left: calc((100% / 24) * 24);
  }

  
}

/* md */
@media all and (min-width: 768px){
  .container{
    width: 720px;
  }

  .col-md-1{
    flex-basis: calc((100% / 24) * 1);
    max-width: calc((100% / 24) * 1);
  }
  .col-md-2{
    flex-basis: calc((100% / 24) * 2);
    max-width: calc((100% / 24) * 2);
  }
  .col-md-3{
    flex-basis: calc((100% / 24) * 3);
    max-width: calc((100% / 24) * 3);
  }
  .col-md-4{
    flex-basis: calc((100% / 24) * 4);
    max-width: calc((100% / 24) * 4);
  }
  .col-md-5{
    flex-basis: calc((100% / 24) * 5);
    max-width: calc((100% / 24) * 5);
  }
  .col-md-6{
    flex-basis: calc((100% / 24) * 6);
    max-width: calc((100% / 24) * 6);
  }
  .col-md-7{
    flex-basis: calc((100% / 24) * 7);
    max-width: calc((100% / 24) * 7);
  }
  .col-md-8{
    flex-basis: calc((100% / 24) * 8);
    max-width: calc((100% / 24) * 8);
  }
  .col-md-9{
    flex-basis: calc((100% / 24) * 9);
    max-width: calc((100% / 24) * 9);
  }
  .col-md-10{
    flex-basis: calc((100% / 24) * 10);
    max-width: calc((100% / 24) * 10);
  }
  .col-md-11{
    flex-basis: calc((100% / 24) * 11);
    max-width: calc((100% / 24) * 11);
  }
  .col-md-12{
    flex-basis: calc((100% / 24) * 12);
    max-width: calc((100% / 24) * 12);
  }

  .col-md-13{
    flex-basis: calc((100% / 24) * 13);
    max-width: calc((100% / 24) * 13);
  }
  .col-md-14{
    flex-basis: calc((100% / 24) * 14);
    max-width: calc((100% / 24) * 14);
  }
  .col-md-15{
    flex-basis: calc((100% / 24) * 15);
    max-width: calc((100% / 24) * 15);
  }
  .col-md-16{
    flex-basis: calc((100% / 24) * 16);
    max-width: calc((100% / 24) * 16);
  }
  .col-md-17{
    flex-basis: calc((100% / 24) * 17);
    max-width: calc((100% / 24) * 17);
  }
  .col-md-18{
    flex-basis: calc((100% / 24) * 18);
    max-width: calc((100% / 24) * 18);
  }
  .col-md-19{
    flex-basis: calc((100% / 24) * 19);
    max-width: calc((100% / 24) * 19);
  }
  .col-md-20{
    flex-basis: calc((100% / 24) * 20);
    max-width: calc((100% / 24) * 20);
  }
  .col-md-21{
    flex-basis: calc((100% / 24) * 21);
    max-width: calc((100% / 24) * 21);
  }
  .col-md-22{
    flex-basis: calc((100% / 24) * 22);
    max-width: calc((100% / 24) * 22);
  }
  .col-md-23{
    flex-basis: calc((100% / 24) * 23);
    max-width: calc((100% / 24) * 23);
  }
  .col-md-24{
    flex-basis: calc((100% / 24) * 24);
    max-width: calc((100% / 24) * 24);
  }

  .col-md-offset-1{
    margin-left: calc((100% / 24) * 1);
  }
  .col-md-offset-2{
    margin-left: calc((100% / 24) * 2);
  }
  .col-md-offset-3{
    margin-left: calc((100% / 24) * 3);
  }
  .col-md-offset-4{
    margin-left: calc((100% / 24) * 4);
  }
  .col-md-offset-5{
    margin-left: calc((100% / 24) * 5);
  }
  .col-md-offset-6{
    margin-left: calc((100% / 24) * 6);
  }
  .col-md-offset-7{
    margin-left: calc((100% / 24) * 7);
  }
  .col-md-offset-8{
    margin-left: calc((100% / 24) * 8);
  }
  .col-md-offset-9{
    margin-left: calc((100% / 24) * 9);
  }
  .col-md-offset-10{
    margin-left: calc((100% / 24) * 10);
  }
  .col-md-offset-11{
    margin-left: calc((100% / 24) * 11);
  }
  .col-md-offset-12{
    margin-left: calc((100% / 24) * 12);
  }
  .col-md-offset-13{
    margin-left: calc((100% / 24) * 13);
  }
  .col-md-offset-14{
    margin-left: calc((100% / 24) * 14);
  }
  .col-md-offset-15{
    margin-left: calc((100% / 24) * 15);
  }
  .col-md-offset-16{
    margin-left: calc((100% / 24) * 16);
  }
  .col-md-offset-17{
    margin-left: calc((100% / 24) * 17);
  }
  .col-md-offset-18{
    margin-left: calc((100% / 24) * 18);
  }
  .col-md-offset-19{
    margin-left: calc((100% / 24) * 19);
  }
  .col-md-offset-20{
    margin-left: calc((100% / 24) * 20);
  }
  .col-md-offset-21{
    margin-left: calc((100% / 24) * 21);
  }
  .col-md-offset-22{
    margin-left: calc((100% / 24) * 22);
  }
  .col-md-offset-23{
    margin-left: calc((100% / 24) * 23);
  }
  .col-md-offset-24{
    margin-left: calc((100% / 24) * 24);
  }
}

/* lg */
@media all and (min-width: 992px){
  .container{
    width: 960px;
  }

  .col-lg-1{
    flex-basis: calc((100% / 24) * 1);
    max-width: calc((100% / 24) * 1);
  }
  .col-lg-2{
    flex-basis: calc((100% / 24) * 2);
    max-width: calc((100% / 24) * 2);
  }
  .col-lg-3{
    flex-basis: calc((100% / 24) * 3);
    max-width: calc((100% / 24) * 3);
  }
  .col-lg-4{
    flex-basis: calc((100% / 24) * 4);
    max-width: calc((100% / 24) * 4);
  }
  .col-lg-5{
    flex-basis: calc((100% / 24) * 5);
    max-width: calc((100% / 24) * 5);
  }
  .col-lg-6{
    flex-basis: calc((100% / 24) * 6);
    max-width: calc((100% / 24) * 6);
  }
  .col-lg-7{
    flex-basis: calc((100% / 24) * 7);
    max-width: calc((100% / 24) * 7);
  }
  .col-lg-8{
    flex-basis: calc((100% / 24) * 8);
    max-width: calc((100% / 24) * 8);
  }
  .col-lg-9{
    flex-basis: calc((100% / 24) * 9);
    max-width: calc((100% / 24) * 9);
  }
  .col-lg-10{
    flex-basis: calc((100% / 24) * 10);
    max-width: calc((100% / 24) * 10);
  }
  .col-lg-11{
    flex-basis: calc((100% / 24) * 11);
    max-width: calc((100% / 24) * 11);
  }
  .col-lg-12{
    flex-basis: calc((100% / 24) * 12);
    max-width: calc((100% / 24) * 12);
  }

  .col-lg-13{
    flex-basis: calc((100% / 24) * 13);
    max-width: calc((100% / 24) * 13);
  }
  .col-lg-14{
    flex-basis: calc((100% / 24) * 14);
    max-width: calc((100% / 24) * 14);
  }
  .col-lg-15{
    flex-basis: calc((100% / 24) * 15);
    max-width: calc((100% / 24) * 15);
  }
  .col-lg-16{
    flex-basis: calc((100% / 24) * 16);
    max-width: calc((100% / 24) * 16);
  }
  .col-lg-17{
    flex-basis: calc((100% / 24) * 17);
    max-width: calc((100% / 24) * 17);
  }
  .col-lg-18{
    flex-basis: calc((100% / 24) * 18);
    max-width: calc((100% / 24) * 18);
  }
  .col-lg-19{
    flex-basis: calc((100% / 24) * 19);
    max-width: calc((100% / 24) * 19);
  }
  .col-lg-20{
    flex-basis: calc((100% / 24) * 20);
    max-width: calc((100% / 24) * 20);
  }
  .col-lg-21{
    flex-basis: calc((100% / 24) * 21);
    max-width: calc((100% / 24) * 21);
  }
  .col-lg-22{
    flex-basis: calc((100% / 24) * 22);
    max-width: calc((100% / 24) * 22);
  }
  .col-lg-23{
    flex-basis: calc((100% / 24) * 23);
    max-width: calc((100% / 24) * 23);
  }
  .col-lg-24{
    flex-basis: calc((100% / 24) * 24);
    max-width: calc((100% / 24) * 24);
  }

  .col-lg-offset-1{
    margin-left: calc((100% / 24) * 1);
  }
  .col-lg-offset-2{
    margin-left: calc((100% / 24) * 2);
  }
  .col-lg-offset-3{
    margin-left: calc((100% / 24) * 3);
  }
  .col-lg-offset-4{
    margin-left: calc((100% / 24) * 4);
  }
  .col-lg-offset-5{
    margin-left: calc((100% / 24) * 5);
  }
  .col-lg-offset-6{
    margin-left: calc((100% / 24) * 6);
  }
  .col-lg-offset-7{
    margin-left: calc((100% / 24) * 7);
  }
  .col-lg-offset-8{
    margin-left: calc((100% / 24) * 8);
  }
  .col-lg-offset-9{
    margin-left: calc((100% / 24) * 9);
  }
  .col-lg-offset-10{
    margin-left: calc((100% / 24) * 10);
  }
  .col-lg-offset-11{
    margin-left: calc((100% / 24) * 11);
  }
  .col-lg-offset-12{
    margin-left: calc((100% / 24) * 12);
  }
  .col-lg-offset-13{
    margin-left: calc((100% / 24) * 13);
  }
  .col-lg-offset-14{
    margin-left: calc((100% / 24) * 14);
  }
  .col-lg-offset-15{
    margin-left: calc((100% / 24) * 15);
  }
  .col-lg-offset-16{
    margin-left: calc((100% / 24) * 16);
  }
  .col-lg-offset-17{
    margin-left: calc((100% / 24) * 17);
  }
  .col-lg-offset-18{
    margin-left: calc((100% / 24) * 18);
  }
  .col-lg-offset-19{
    margin-left: calc((100% / 24) * 19);
  }
  .col-lg-offset-20{
    margin-left: calc((100% / 24) * 20);
  }
  .col-lg-offset-21{
    margin-left: calc((100% / 24) * 21);
  }
  .col-lg-offset-22{
    margin-left: calc((100% / 24) * 22);
  }
  .col-lg-offset-23{
    margin-left: calc((100% / 24) * 23);
  }
  .col-lg-offset-24{
    margin-left: calc((100% / 24) * 24);
  }
}